/*header styles*/
header
{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    /*Using flexbox*/
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo
{
    content:url(../images/logo.png);
    margin-left: 20px;
}