/*place section*/
.places .places_inside
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*h1 header*/
.places h1
{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
}
/*articles*/
.places_inside article
{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    /*extra*/    
}

/*specific places*/
.places article h2
{
    font-size: 30px;
    text-align: center;
}



