/*place section*/
.places .places_inside
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*h1 header*/
.places h1
{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
}
/*articles*/
.places_inside article
{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    /*extra*/
    position: relative;
}

/*specific places*/
.places article h2
{
    font-size: 30px;
    text-align: center;
}
/*------------------------*/
/*price by night*/

.places_inside .price_by_night
{
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 50%;
    min-width: 60PX;
    height: 60px;
    font-size: 30px;
    /*location*/
    position: absolute;
    top: 25px;
    right: 25px;
}

/*center the price*/
.places .price_by_night span
{
    margin-top: 15px;
    text-align: center;
    display: inline-block;
}

/*INFORMATION*/

.places .information
{
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*guests*/
.places .information .max_guest
{
    width: 100px;

}

.places .information .max_guest .guest
{
    content:url(../images/icon_group.png);
}

.places .information .max_guest h4
{
    margin-top: 0px;
    margin-bottom: 5px;
}

/*number of rooms*/
.places .information .number_rooms
{
    width: 100px;
}

.places .information .number_rooms .bed_room
{
    content: url(../images/icon_bed.png);
}

.places .information .number_rooms h4
{
    margin-top: 0;
    margin-bottom: 5px;
}

/*bathrooms*/
.places .information .number_bathrooms
{
    width: 100px;
}

.places .information .number_bathrooms .bath_room
{
    content: url(../images/icon_bath.png);
}

.places .information .number_bathrooms h4
{
    margin: 0;
    margin-bottom: 5px;
}

/*Owners*/
.places .user
{
    font-size: 16px;
}

.places .user p
{
    text-align: left;

}

.places .description
{
    text-align: justify;
    
}