/*place section*/
.places
{
    text-align: center;
}
/*h1 header*/
.places h1
{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
}


.places article
{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    /*extra*/
    display: inline-block;
    /*to apply absolute position elements inside*/
    position: relative;

    

}

/*each place name*/
.places article h2
{
    font-size: 30px;
    text-align: center;
}

/*price*/
.places .price_by_night
{
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: inline-block;
    /*center the number*/
    position: absolute;
    top: 25px;
    right: 25px;
}

.places .price_by_night span
{
    margin-top: 15px;
    text-align: center;
    display: inline-block;
}

/*Information*/

.places .information
{
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
}

/*guest*/
.places .information .max_guest
{
    width: 100px;
    
    height: 80px;
    width: 80px;

}
.places .information .max_guest span
{
    content:url(../images/icon_group.png);
    display: inline-block;
}

.places .information .max_guest h4
{
    margin-top: 0px;
    margin-bottom: 5px;
}


